.App {
  text-align: center;
  background-color: #d7ebf1;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-bottom: 100px;

}
.ButtonColumn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}
.sidewaysCard{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}
.ButtonColumn Button{
  margin-bottom: 5px;
  margin-right: 10px;
  width: 90%;
}
.ButtonColumnCard{
  margin-right: 10px;
}
.Card{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Row{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.App-logo {
  height: 100vmin;
  width: 50%;
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #0db7ed;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
